.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.products {
	display: grid;
	min-height: 200px;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr 1fr;
	border: 2px solid #deb887;
	border-radius: 3px;
}

.products img {
	width: 90%;
}

.buttonBox button {
	padding: 2%;
	margin-right: 20px;
}

.footerBox {
	position: fixed;
	left: 0;
	bottom: 0;
	height: auto;
	width: 100%;
	background-color: rgb(145, 217, 226);
	color: white;
	text-align: center;
	padding: 1%;
}

.footerBox button {
	font-size: 110%;
}
